/* 
    Document   : style
    Author     : Osman Üngür
    Description:
        Main layout stylesheet.
*/

a:active, .selected, a:focus {
    color: #111111;
}

.caps {
    font-variant: small-caps;
    letter-spacing: 1px;
    text-transform: lowercase;
    font-size:1.2em;
    line-height:1%;
    font-weight:bold;
    padding:0 2px;
}

#header, #modes {
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', serif;
}

#modes {
    margin-top: 10px;
    text-align: right;
}

#options input.text, input.title {
    width:178px;
}

#repository-list ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#repository-list ul li {
    padding-bottom: 10px;
}

.revision-log, .repository-file {
    margin-bottom: 20px;
}

.revision-number, .revision-message, revision-author {
    height:40px;
    overflow: hidden;
}

.revision-number {
    font-size: 200%;
}

.revision-files, #revision-notice, .repository-file, pre, code, tt {
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;    
}

.revision-files {
    list-style-type: none;
    background-color: #EEEEEE;
    color: #444444;
    padding:0.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

#revision-notice {
    font-size: 9px;
    display: none;
}

.repository-file {
    border-bottom:2px solid #ddd;
    padding-bottom: 5px;
}

#rawcode {
    overflow: auto;
}
