/* 
    Document   : style
    Author     : Osman Üngür
    Description:
        Main layout stylesheet.
*/

.caps {
    font-variant: small-caps;
    letter-spacing: 1px;
    text-transform: lowercase;
    font-size:1.2em;
    line-height:1%;
    font-weight:bold;
    padding:0 2px;
}

#header {
    height: 100px;
}

#log-options input.text, input.title {
    width:178px;
}

#repository-list ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#repository-list ul li {
    padding-bottom: 10px;
}

.revision-log {
    margin-bottom: 20px;
}

.revision-number, .revision-message, revision-author-date {
    height:40px;
    overflow: hidden;
}

.revision-number {
    font-size: 200%;
}

.revision-files {
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    list-style-type: none;
    background-color: #EEEEEE;
    color: #444444;
    padding:0.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}